@font-face {
  font-family: 'sourcesans';
  src: url('sourcesanspro-regular-webfont.eot');
  src: url('sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'), url('sourcesanspro-regular-webfont.woff') format('woff'), url('sourcesanspro-regular-webfont.ttf') format('truetype'), url('cmunit-webfont.svg#FontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,body {
	height: 100%;
	margin: 0;
}

.fr {
  text-decoration: none;
  font-family: 'sourcesans', helvetica, sans-serif;
  color: black;
  font-size: 2em;
  line-height: 2em;
  outline: none;
  height: 99%;
  width: 99%;
  margin: 0 auto;
  border: none;
}
