
@font-face {
 font-family: 'sourcesans';
 src: url('sourcesanspro-regular-webfont.eot');
 src: url('sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
 url('sourcesanspro-regular-webfont.woff') format('woff'),
 url('sourcesanspro-regular-webfont.ttf') format('truetype'),
 url('cmunit-webfont.svg#FontName') format('svg');
 font-weight: normal;
 font-style: normal;
}


textarea {
	width:105%;
	height: 105%;
	position:absolute;
	/*letter-spacing: 0.12em;*/
	margin:-0.6%;
	padding-top:0.6%; 
	outline: none;
}


.fr {

	text-decoration: none;
	font-family: 'sourcesans', helvetica, sans-serif;
	color:black;
    font-size:1.25vw;
    line-height:1.25vw;
}